@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playball&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#f5f5dc;
    --border:.1rem solid rgba(255,255,255,.3);
}

*{
    font-family: 'Montserrat', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    transition: .2s linear;
    color: black;
}

html{
    font-size: 80%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #e6cd85;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#654321;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
    font-family: 'Playball', cursive;
}

.heading span{
    color:#e6cd85;
    text-transform: uppercase;
    font-family: 'Playball', cursive;
}

.hero {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5px;
}
nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

nav a:hover {
    color: #d3ad7f;
    transition: .3s;
}

.logo {
    color: #d3ad7f;
    font-size: 28px;
}

span {
    color: #021988;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    font-weight: bold;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #d3ad7f;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.addMenu{
	width: 370px;
	height: 370px;
	padding: 23px;
	background:#e6cd85;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-30%);
	box-sizing: border-box;
}
.addMenu input{
	width: 90%;
	margin: 0;
	padding: 0 0 10px;
	font-size: 14px;
	color: #2c001e;
	vertical-align: middle;
	padding: 5px;
	color: #2c001e;
}

.addMenu input[type="text"]
{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	height: 40px;
	color: #24281d;
	font-size: 20px;
}

button {
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.2rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
    margin-left: 6rem;
}

button:hover {
    background: #e6cd85;
    cursor: pointer;
}